<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>目录列表</title>
</script>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
BODY {SCROLLBAR-FACE-COLOR: #4A4A4A; SCROLLBAR-HIGHLIGHT-COLOR: #757575; SCROLLBAR-SHADOW-COLOR: #757575; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR:  #FFFFFF; SCROLLBAR-TRACK-COLOR: #757575; SCROLLBAR-DARKSHADOW-COLOR: #757575; }
</style>
<table width="335" height="100%" border="0" cellpadding="0" cellspacing="0" class="f1">
  <tr>
    <td align="center" valign="top"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="35" align="left" valign="top"><img src="ima/aa1.gif" width="115" height="35"></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" class="f6" style="padding-left:15px ">DVD4</td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_06.htm" target="content" class="f10">09_06_Modo贴图技法</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_07.htm" target="content" class="f10">09_07_ZBrush贴图技法</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C10.htm" target="content" class="f7">10_Maya建模案例精要——蜗牛壳和罗马柱</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px ">11_Maya建模案例精要——桥梁</span></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C11_01.htm" target="content" class="f10">11_01_Maya桥梁的建模思路</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C11_02.htm" target="content" class="f10">11_02_桥梁的贴图绘制技法（一）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C11_03.htm" target="content" class="f10">11_03_桥梁的贴图绘制技法（二）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C11_04.htm" target="content" class="f10">11_04_桥梁的贴图绘制技法（三）</a></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
