<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>目录列表</title>
</script>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
BODY {SCROLLBAR-FACE-COLOR: #4A4A4A; SCROLLBAR-HIGHLIGHT-COLOR: #757575; SCROLLBAR-SHADOW-COLOR: #757575; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR:  #FFFFFF; SCROLLBAR-TRACK-COLOR: #757575; SCROLLBAR-DARKSHADOW-COLOR: #757575; }
</style>
<table width="290" height="100%" border="0" cellpadding="0" cellspacing="0" class="f1">
  <tr>
    <td align="center" valign="top"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="35" align="left" valign="top"><img src="ima/aa1.gif" width="115" height="35"></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" class="f6" style="padding-left:15px ">DVD5</td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C11_05.htm" target="content" class="f10">11_05_桥梁的贴图绘制技法(四)</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px ">12_Maya建模案例精要——中国古建</span></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C12_01.htm" target="content" class="f10">12_01_中国古建的建筑形式介绍</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C12_02.htm" target="content" class="f10">12_02_中国古建斗拱的制作技巧</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C12_03.htm" target="content" class="f10">12_03_中国古建走兽的制作方法</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C12_04.htm" target="content" class="f10">12_04_中国古建基座的制作指南</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px ">13_Maya脚本基础入门</span></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C13_01.htm" target="content" class="f10">13_01_Maya脚本编辑技巧</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C13_02.htm" target="content" class="f10">13_02_Maya脚本安装技法</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C14.htm" target="content" class="f7">14_Maya脚本案例精要（一）</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C15.htm" target="content" class="f7">15_Maya脚本案例精要（二）</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C16.htm" target="content" class="f7">16_Maya表达式的解析</a></span></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
