<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>目录列表</title>
</script>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
BODY {SCROLLBAR-FACE-COLOR: #4A4A4A; SCROLLBAR-HIGHLIGHT-COLOR: #757575; SCROLLBAR-SHADOW-COLOR: #757575; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR:  #FFFFFF; SCROLLBAR-TRACK-COLOR: #757575; SCROLLBAR-DARKSHADOW-COLOR: #757575; }
</style>
<table width="230" height="100%" border="0" cellpadding="0" cellspacing="0" class="f1">
  <tr>
    <td align="center" valign="top"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="35" align="left" valign="top"><img src="ima/aa1.gif" width="115" height="35"></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" class="f6" style="padding-left:15px ">DVD6</td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px ">17_Maya粒子基础入门</span></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C17_01.htm" target="content" class="f10">17_01_Maya粒子创建技巧</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C17_02.htm" target="content" class="f10">17_02_Maya粒子发射方法</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C17_03.htm" target="content" class="f10">17_03_Maya粒子应用实例（一）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C17_04.htm" target="content" class="f10">17_04_Maya粒子应用实例（二）</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C18.htm" target="content" class="f7">18_Maya粒子碰撞解析</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C19.htm" target="content" class="f7">19_Maya粒子案例精要</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C20.htm" target="content" class="f7">20_Maya刚体基础入门</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C21.htm" target="content" class="f7">21_Maya刚体案例精要（一）</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C22.htm" target="content" class="f7">22_Maya刚体案例精要（二）</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C23.htm" target="content" class="f7">23_Maya柔体基础入门</a></span></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
