<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>目录列表</title>
</script>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
BODY {SCROLLBAR-FACE-COLOR: #4A4A4A; SCROLLBAR-HIGHLIGHT-COLOR: #757575; SCROLLBAR-SHADOW-COLOR: #757575; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR:  #FFFFFF; SCROLLBAR-TRACK-COLOR: #757575; SCROLLBAR-DARKSHADOW-COLOR: #757575; }
</style>
<table width="255" height="100%" border="0" cellpadding="0" cellspacing="0" class="f1">
  <tr>
    <td align="center" valign="top"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="35" align="left" valign="top"><img src="ima/aa1.gif" width="115" height="35"></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" class="f6" style="padding-left:15px ">DVD1</td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle" class="f7" style="padding-left:25px ">01_Maya建模案例精要——石狮</td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_01.htm" target="content" class="f10">01_01_零距离接触Maya</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_02.htm" target="content" class="f10">01_02_四边形的特殊性</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_03.htm" target="content" class="f10">01_03_拉点法的综合运用</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_04.htm" target="content" class="f10">01_04_Maya变形工具的多样化</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_05.htm" target="content" class="f10">01_05_ZBrush的神奇技法（一）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_06.htm" target="content" class="f10">01_06_ZBrush的神奇技法（二）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C01_07.htm" target="content" class="f10">01_07_Maya置换贴图技法</a></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
