<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>目录列表</title>
</script>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
BODY {SCROLLBAR-FACE-COLOR: #4A4A4A; SCROLLBAR-HIGHLIGHT-COLOR: #757575; SCROLLBAR-SHADOW-COLOR: #757575; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR:  #FFFFFF; SCROLLBAR-TRACK-COLOR: #757575; SCROLLBAR-DARKSHADOW-COLOR: #757575; }
</style>
<table width="260" height="100%" border="0" cellpadding="0" cellspacing="0" class="f1">
  <tr>
    <td align="center" valign="top"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="35" align="left" valign="top"><img src="ima/aa1.gif" width="115" height="35"></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" class="f6" style="padding-left:15px ">DVD2</td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle" class="f7" style="padding-left:25px ">02_Maya建模案例精要——摇椅</td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C02_01.htm" target="content" class="f10">02_01_从线开始的建模策略</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C02_02.htm" target="content" class="f10">02_02_布料褶皱的处理技巧</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C03.htm" target="content" class="f7">03_Maya多边形和NURBS建模精要</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C04.htm" target="content" class="f7">04_Maya多边形贴图入门</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C05.htm" target="content" class="f7">05_BodyPaint全接触</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C06.htm" target="content" class="f7">06_Maya手工高效展UV技法</a></span></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px "><a href="html/C07.htm" target="content" class="f7">07_Maya手工高效展UV技法扩展</a></span></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
