<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>目录列表</title>
</script>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
BODY {SCROLLBAR-FACE-COLOR: #4A4A4A; SCROLLBAR-HIGHLIGHT-COLOR: #757575; SCROLLBAR-SHADOW-COLOR: #757575; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR:  #FFFFFF; SCROLLBAR-TRACK-COLOR: #757575; SCROLLBAR-DARKSHADOW-COLOR: #757575; }
</style>
<table width="260" height="100%" border="0" cellpadding="0" cellspacing="0" class="f1">
  <tr>
    <td align="center" valign="top"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="35" align="left" valign="top"><img src="ima/aa1.gif" width="115" height="35"></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" class="f6" style="padding-left:15px ">DVD3</td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle" class="f7" style="padding-left:25px ">08_Maya多边形转NURBS神奇技法</td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C08_01.htm" target="content" class="f10">08_01_Paraform的灵活运用（一）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C08_02.htm" target="content" class="f10">08_02_Paraform的灵活运用（二）</a></td>
      </tr>
      <tr>
        <td height="25" align="left" valign="middle"><span class="f7" style="padding-left:25px ">09_Maya人体建模全案</span></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_01.htm" target="content" class="f10">09_01_人体的运动规律</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_02.htm" target="content" class="f10">09_02_Maya人体建模布线精髓（一）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_03.htm" target="content" class="f10">09_03_Maya人体建模布线精髓（二）</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_04.htm" target="content" class="f10">09_04_Maya头部建模精髓</a></td>
      </tr>
      <tr>
        <td height="23" align="left" valign="middle" style="padding-left:35px "><a href="html/C09_05.htm" target="content" class="f10">09_05_Maya脚本展UV技法</a></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
